<header class="site-header">
  {{ $wordmark := site.Params.wordmark | default site.Title }}
  {{ with site.Params.personas }}
    <details class="wordmark-menu">
      <summary class="wordmark">{{ $wordmark }}</summary>
      <div class="wordmark-dropdown">
        <p class="identity-label">Identity</p>
        <ul>
          {{ range . }}
            <li{{ if eq .name $.Site.Params.currentPersona }} class="is-current"{{ end }}>
              <a href="{{ .url }}"{{ if .external }} target="_blank" rel="noopener"{{ end }}>
                <span class="persona-label">{{ .label | default .name }}</span>
                {{ with .blurb }}<span class="persona-blurb">{{ . }}</span>{{ end }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </details>
  {{ else }}
    <a class="wordmark" href="{{ site.Home.RelPermalink }}">{{ $wordmark }}</a>
  {{ end }}
  {{ if site.Menus.main }}
    <nav class="site-nav" aria-label="Primary">
      <ul class="nav-links">
        {{ range site.Menus.main }}
          <li>
            <a
              href="{{ .URL }}"
              {{- with .Params.rel }} rel="{{ . }}"{{ end }}
              {{- if .Params.external }} target="_blank"{{ end }}
              aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}"
              >{{ .Name }}</a
            >
          </li>
        {{ end }}
      </ul>
      <button class="btn btn-square nav-toggle" id="menu-toggle" aria-expanded="false" type="button" title="{{ T "menu" }}">
        <svg class="icon-menu" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"></path>
        </svg>
        <svg class="icon-close hidden" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"></path>
        </svg>
      </button>
    </nav>
  {{ end }}
</header>
{{ partial "menu.html" . }}
